.sidebar-item{
  height: 70px;
  width: 97%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 25px;
  padding-left: 40px;
  color: rgb(41, 37, 37);
}

.sidebar-item:hover{
  font-size: 25.5px;
  background-color: rgba(241, 235, 235, 0.199);
  box-shadow: 6px 6px 6px -5px rgb(168, 158, 158);
}

.sidebar-item:focus {
  background-color: rgba(241, 235, 235, 0.349);
}

.sidebar{
  overflow-x: hidden;
  overflow-y: visible;
  border-right-color: 1px solid black;
  width: 280px;
  height: 700px;
  padding: 15px 0;
}

.arrow-button{
  margin-top: 60px;
  width: 100px;
  height: 470px;
  background-color: white;
  color: rgb(150, 149, 149);
  border: none;
}

.arrow-button:hover{
  color: rgb(83, 81, 81);
  border: none;
}

.course_list{
  display: flex;
  padding-left: 2px;
  padding-top: 50px;
  overflow-y: auto;
  list-style: none;
  flex-wrap: wrap;
  width: 1472px;
  height: 700px;
}

.course_list-item{
  margin: 10px 20px 10px 0;
}