.link{
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.link:hover{
  color: rgb(159, 163, 187);
}

input:focus{outline:none;}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(243, 236, 236, 0.445);
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(184, 169, 169, 0.445);
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
  linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background:
      linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background:
      linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background:
      linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

.ban{
  display: flex;
  flex-direction: column;
  color: #303030;
  justify-content: center;
  align-items: center;
  height: 800px;
  font-size: 50px;
}