.course__comment-position{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 710px;
  margin-top: 80px;
}

.course__comment-header{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  height: 60px;
  align-items: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.course__comment-content{
  height: 80px;
  margin-bottom: 20px;
}

.course__comment-list{
  border-top: 1px solid gainsboro;
  margin-bottom: -20px;
  list-style: none;
  width: 90%;
  padding-left: 0;
  height: 502px;
  overflow-y: visible;
  overflow-x: hidden;
}