.main-field-position{
  display: flex;
  flex-direction: column;
  width: 1530px;
  height: 750px;
  margin-top: 5px;
  margin-left: 10px;
  padding-right: 120px;
  padding-top: 40px;
  border-left: 1px solid rgb(240, 240, 240);
  overflow-y: visible;
  overflow-x: hidden;
}

